@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Press+Start+2P&display=swap');

:root {
  --main-bg-color: #62af03;
  --secondary-bg-color: #ffffff;
  --font-color: #000000;
  --section-title-color: #333333;
  --button-color: #aa00cc;
  --button-hover-color: #004d99;
  --font-family1: 'Press Start 2P', sans-serif;
  --font-family2: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family2);
  background-color: var(--secondary-bg-color);
  color: var(--font-color);
}

.header {
  font-family: var(--font-family1);
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
  text-align: center;
  padding: 1rem;
}

.logo {
  font-size: 1.5rem;
}

.main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.products, .add-product {
  width: 48%;
}

.section-title {
  color: var(--section-title-color);
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

.product_card {
  border: 3px solid var(--main-bg-color); /* Add a border */
  border-radius: 10px; /* Round the corners */
  padding: 10px;
  width: 250px; /* Adjust the width as needed */
  font-family: var(--font-family2);
  text-align:start
}

.product-image {
  width: 100%; /* Make the image fill the card width */
  border-radius: 5px; /* Round the image corners */
  margin-bottom: 10px;
}

.product-name {
  color: var(--font-color); /* Set the text color to white */
  font-size: 16px;
  margin-bottom: 5px;
}
.producto__precio__boton{
  display: flex;
  justify-content: space-between;
}

.product-price {
  color: var(--font-color); /* Set the price color to white */
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.delete-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}

.add-product .product-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-text {
  padding: 0.5rem;
  border: 2px solid var(--main-bg-color);
  border-radius: 0.5rem;
}

.form-buttons {
  display: flex;
  gap: 1rem;
}

.btn-submit, .btn-reset {
  background-color: var(--button-color);
  color: var(--secondary-bg-color);
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

.btn-submit:hover, .btn-reset:hover {
  background-color: var(--button-hover-color);
}

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--main-bg-color);
  color: var(--secondary-bg-color);
}
